css
.book-page {
  padding: 40px 20px;
  text-align: center;
}

.booking-form {
  background-color: #ffffff;
  padding: 25px;
  max-width: 500px;
  margin: 30px auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  color: #000;
}

.booking-form label {
  display: block;
  text-align: left;
  margin-top: 15px;
  font-weight: bold;
}

.booking-form input,
.booking-form select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.booking-form button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #044d2b;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  .navbar {
  background-color: #0b2c18;
  padding: 15px 0;
  text-align: center;
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #00332c;
}
footer {
  background-color: #0b2c18;
  color: white;
  text-align: center;
 padding: 15px 0;
}
